<html>
<head>
	<title>User Dashboard</title>
	<!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Favicon -->
	<link rel="shortcut icon" href="/static/favicon.ico">
	<!-- CSS -->
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">User Dashboard</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/dashboard">Dashboard</a></li>
					{% if session['id'] == user.id: %}
					<li class="active"><a href="#">Profile</a></li>
					{% else: %}
					<li><a href="/users/show/{{session['id']}}">Profile</a></li>
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Log out</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
			{% if session['user_level'] != 'admin': %}
				<h1>Edit Profile</h1>
				<br>
			{% else %}
				<h1>Edit User #{{user.id}}</h1>
				<br>
			{% endif %}
			</div>
		<div class="col-sm-6">
				<br>
				<a href="/dashboard"><button class="btn btn-primary btn-xs pull-right">Return to Dashboard</button></a>
		</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<h3>Edit Information</h3>
				<br>
				<form action="/users/edit_information" method="post">
					<label>Email Address:</label><br>
					<input type="email" name="email" value="{{user['email']}}" class="form-control"><br>
					<label>First Name:</label><br>
					<input type="text" name="first_name" value="{{user['first_name']}}" class="form-control"><br>
					<label>Last Name:</label><br>
					<input type="text" name="last_name" value="{{user['last_name']}}" class="form-control"><br>
					<!-- fix check if user is admin -->
					{% if session['user_level']== 'admin': %}
						<label>User Level:</label><br>
						{% if user.user_level == 'normal' %}
							<select name="user_level" class="form-control">
								<option value="normal">Normal</option>
								<option value="admin">Admin</option>
							</select><br>
						{% else: %}
							<select name="user_level" class="form-control">
								<option value="admin">Admin</option>
								<option value="normal">Normal</option>
							</select><br>
						{% endif %}
					{% endif %}
					{% if session['user_level']== 'normal': %}
					<input type="hidden" name="user_level" value="normal">
					{% endif %}
					<input type="hidden" name="update" value="email">
					<input type="hidden" name="id" value="{{user.id}}">
					<input type="submit" value="Save" class="btn btn-primary pull-right">
				</form>
			</div>
			<div class="form-group col-sm-6">
				<h3>Change Password</h3>
				<br>
				<form action="/users/edit_password" method="post">
					<label>Password:</label><br>
					<input type="password" name="password" class="form-control"><br>
					<label>Password Confirmation:</label><br>
					<input type="password" name="confirm" class="form-control"><br>
					<input type="hidden" name="update" value="password">
					<input type="hidden" name="id" value="{{user.id}}">
					<input type="submit" value="Update Password" class="btn btn-primary pull-right">
				</form>
			</div>
		</div>
		{% if session['id']== user.id: %}
		<div class="row">
			<h3>Edit Description</h3>
			<form action="/users/edit_description" method="post">
				<textarea class="form-control" rows="5" name="description">{{user['description']}}</textarea><br>
				<input type="hidden" name="update" value="description">
				<input type="hidden" name="id" value="{{user.id}}">
				<input type="submit" value="Save" class="btn btn-primary pull-right">
			</form>
		</div>
		{% endif %}
	</div>
</body>
</html>
